:root {
    /* Color Palette */
    --primary-blue: #2e58a8; /* Main brand blue */
    --smoke-white: #bababa;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* display flex */

.d-flex {
    display: flex;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

/* --------------------- */

/* buttons */


/* ---------------------- */


/* buttons glowing effect */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: 2px solid #2e58a8;
    outline: none;
    color: #2e58a8;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #b9fbf9, #7bcfff, #006fff, #0e00ff, #00ffd5, #002bff, #7a00ff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* --------------------- */


/* Input fields */

.input-field input {
    font-size: 1.1rem;
    color: var(--smoke-white);
    outline: none;
    border: 1px solid var(--primary-blue);
    border-radius: 10px;
    padding: 10px;
    width: 500px;
}

.input-field input:focus {
    border-color: var(--primary-blue); /* Change border color on focus */
    outline: none;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 8px 2px rgba(46, 88, 168, 0.6), 0 0 16px 4px rgba(0, 149, 255, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    animation: input-glow 2s ease-in-out infinite;
}

@keyframes input-glow {
    0% {
        box-shadow: 0 0 8px 2px rgba(46, 88, 168, 0.6);
    }
    50% {
        box-shadow: 0 0 12px 4px rgb(28, 172, 198);
    }
    100% {
        box-shadow: 0 0 8px 2px rgba(46, 88, 168, 0.6);
    }
}

/* --------------------- */

