.main-container {
    width: 100%;
}

.hero-section {
    width: 100%;
    height: 70vh;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 30px 50px;
}

.hero-img-container {
    width: 700px;
    margin-right: 50px;
}

.hero-gradient-overlay {
    position: absolute;
    right: 260px;
    bottom: 90px;
    height: 15%;
    width: 400px;
    background: linear-gradient(to top, rgba(0, 0, 0, 3), transparent);
}

.text-container {
    font-family: "Oxygen", sans-serif;
    width: 800px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 0 30px 50px;
}

.title {
    font-size: 40px;
}

.hero-btn-container {
    position: absolute;
    color: white;
    bottom: 100px;
    left: 340px;
}

.btn-get-started {
    padding: 15px 35px;
}

.about-section {
    position: relative;
    background-color: rgb(2, 3, 3);
    width: 100%;
    height: 70vh;
}

.about-gradient-overlay {
    position: absolute;
    top: 0;
    height: 5%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 4), transparent);
}

.about-img-container {
    width: 100%;
    height: 100%;
}

.about-img-container img {
    height: 100%;
    object-fit: contain;
    object-position: left;
    display: block;
}
