.navbar-container {
    display: flex;
    justify-content: space-between;
}

.logo-container img {
    width: 60px;
}

.logo-container a {
    display: flex;
    align-items: center;
}

.menu-container ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}