:root {
    --base-font-family: 'Plain', sans-serif;

    --white-color: #ffffff;
    --gray-color: #909090;
}

body {
    font-family: var(--base-font-family);
    background-color: var(--white-color);
}