asgiref==3.8.1
certifi==2025.8.3
charset-normalizer==3.4.3
cloudinary==1.44.1
Django==5.2.1
django-cloudinary-storage==0.3.0
django-extensions==4.1
djangorestframework==3.15.1
idna==3.10
packaging==25.0
pillow==11.2.1
psycopg2==2.9.10
python-decouple==3.8
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
whitenoise==6.9.0
