{% extends 'base.html' %}
{% load placeholder_filter %}
{% load static %}

{% block content %}
    <div class="background-img d-flex-col-cent">
        <div class="container blur-background">
            <form class="wt-type-form d-flex-col-cent gap25" method="post" action="{% url 'ex-create' %}">
                {% csrf_token %}

                <div class="input-field">
                    <h4 class="label">Exercise Name:</h4>
                    {{ form.name|placeholder:"Enter here" }}
                    <div class="error-field fade-effect">
                        {{ form.name.errors }}
                    </div>
                </div>

                {% if muscle_groups %}
                    <label for="muscleGroupsList" class="second-title">Select Muscle Group:</label>

                    <select name="muscle_group" id="muscleGroupsList">
                        {% for mg in muscle_groups %}
                            <option value="{{ mg.id }}">{{ mg.name }}</option>
                        {% endfor %}
                    </select>

                    <div class="btn-container d-flex gap25">
                        <a href="{% url 'mg-create' %}" class="glow-on-hover d-flex-col-cent">Add New Muscle Group</a>
                        <button type="button" id="deleteMgBtn" class="red-glow-on-hover">
                            Delete Selected Group
                        </button>
                    </div>

                {% else %}
                    <p>You don't have any muscle groups yet.</p>
                    <a href="{% url 'mg-create' %}" class="glow-on-hover d-flex-col-cent">Add New Muscle Group</a>
                {% endif %}

                <hr class="hr-line">

                <div class="btn-container d-flex gap25">
                    <button type="submit" class="glow-on-hover">Create</button>
                    <a href="{% url 'wt-create' %}" class="red-glow-on-hover d-flex-col-cent">Back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
