{% extends 'base.html' %}
{% load placeholder_filter %}
{% load static %}

{% block content %}
    <div class="background-img d-flex-col-cent">
        <div class="container blur-background">
            <form class="wt-type-form d-flex-col-cent" method="post">
                {% csrf_token %}

                <div class="input-field">
                    <h4 class="label">Muscle Group Name:</h4>
                    {{ form.name|placeholder:"e.g., Chest, Back, Legs" }}
                    <div class="error-field fade-effect">
                        {{ form.name.errors }}
                    </div>
                </div>

                <hr class="hr-line">

                <div class="btn-container d-flex gap25">
                    <button type="submit" class="glow-on-hover">Save Muscle Group</button>
                    <a href="{% url 'ex-create' workout_pk=workout_pk %}" class="red-glow-on-hover d-flex-col-cent">Back to Exercise</a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
