<div id="popupModal2" class="modal">
    <div class="modal-content blur-background">
        <h2 class="second-title m-4">Confirm deletion</h2>

        <p>Are you sure you want to delete the muscle group:
            <strong id="mgNamePlaceholder">this</strong>?
        </p>

        <form method="post" class="mg-delete-form" id="deleteMgForm" action="">
            {% csrf_token %}
            <span class="close-btn">&times;</span>
            <button type="submit" class="btn btn-danger">Yes, delete</button>
            <a href="#" class="btn btn-secondary" id="cancelDelete">Cancel</a>
        </form>

    </div>
</div>