{% extends 'base.html' %}
{% load placeholder_filter %}
{% load static %}

{% block content %}
    <div class="background-img d-flex-col-cent">
        <div class="container blur-background">
            <form class="d-flex-col-cent gap25" method="post">
                {% csrf_token %}

                <div class="input-field">
                    <h4 class="label">Repetitions:</h4>
                    {{ form.repetitions|placeholder:"Enter here" }}
                    <div class="error-field fade-effect">
                        {{ form.repetitions.errors }}
                    </div>
                </div>
                <div class="input-field">
                    <h4 class="label">Weight:</h4>
                    {{ form.weight|placeholder:"Enter here" }}
                    <div class="error-field fade-effect">
                        {{ form.weight.errors }}
                    </div>
                </div>

                <div class="btn-container d-flex gap25">
                    <button type="submit" class="glow-on-hover">Create</button>
                    <a href="javascript:history.back()" class="red-glow-on-hover d-flex-col-cent">Back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
