{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="background-img">
    <img src="{% static 'images/background_images/background4.png' %}" alt="">
</div>

<div class="workout-container">

    <div class="title new-workout-title">
        <p>Add Set for Workout: {{ session.workout_type.name }}</p>
    </div>

    <div class="form-container blur-background">
        <form method="post" class="d-flex-col-cent">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn glow-on-hover mt-3">Add Set</button>
        </form>
    </div>

    <div class="form-container blur-background mt-4">
        <p class="second-title">Previous Sets:</p>
        <ul class="exercises-list">
            {% for set in previous_sets %}
                <li>
                    {{ set.exercise.name }} - {{ set.repetitions }} reps @ {{ set.weight_kg }} kg (Series {{ set.series_number }})
                </li>
            {% empty %}
                <li>No sets added yet.</li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}
