{% extends 'base.html' %}
{% load placeholder_filter %}
{% load static %}

{% block content %}
    <h4 class="wt-info second-title">{{ workout.workout_type }} Workout on {{ workout.created|date:"F d, Y" }}</h4>
    <div class="background-img d-flex-col-cent">
        <div class="content-stack-grow d-flex-col-cent">
            <input type="hidden" id="workoutPkInput" value="{{ workout.pk }}">

            <div class="container blur-background d-flex-col-cent gap15">
                <section class="wt-exercises d-flex-col-cent gap25">
                    {% if exercises %}
                        <label for="exercisesList" class="second-title">Select an Exercise:</label>

                        <select name="exercises" id="exercisesList">
                            {% for ex in exercises %}
                                <option value="{{ ex.id }}">{{ ex.name }}</option>
                            {% endfor %}
                        </select>

                        <button type="button" id="startExerciseBtn" class="glow-on-hover d-flex-col-cent">Start Selected Exercise</button>

                        <div class="btn-container d-flex gap25">
                            <a href="{% url 'ex-create' workout_pk=workout.pk %}" class="glow-on-hover d-flex-col-cent">Add a New Exercise</a>
                            <button type="button" id="deleteExerciseBtn" class="red-glow-on-hover danger-btn">
                                Delete Selected Exercise
                            </button>
                        </div>

                        <hr class="hr-line">

                        <section class="exercise-logs">
                            <h2>Workout Log</h2>
                            {% if exercises %}
                                {% for exercise in exercises %}
                                    <div class="exercise-log">
                                        <h3>{{ exercise.name }} (Muscle Group: {{ exercise.muscle_group.name }})</h3>

                                        {% if exercise.sets.all %}
                                            <ul>
                                                {% for set in exercise.sets.all %}
                                                    <li>Reps: {{ set.repetitions }}, Weight: {{ set.weight }} kg</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p>No sets have been logged for this exercise yet.</p>
                                        {% endif %}

                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>You haven't logged any exercises for this workout yet.</p>
                            {% endif %}
                        </section>

                        <a href="{% url 'dashboard' pk=user.pk %}" class="glow-on-hover d-flex-col-cent">Finish and Save Workout</a>

                    {% else %}
                        <p class="second-title">You haven't added any exercises to this workout yet.</p>
                        <a href="{% url 'ex-create' workout_pk=workout.pk %}" class="glow-on-hover d-flex-col-cent">Add Your First Exercise</a>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
