{% extends 'base.html' %}
{% load placeholder_filter %}
{% load static %}

{% block content %}
    <h4 class="wt-info second-title">Workout {{ workout.workout_type }} Created: {{ workout.created }}</h4>
    <div class="background-img d-flex-col-cent">
        <div class="container d-flex-col-cent">
            <input type="hidden" id="workoutPkInput" value="{{ workout.pk }}">

            <div class="container blur-background d-flex-col-cent gap15">
                <section class="wt-exercises container d-flex-col-cent gap25">
                    {% if exercises %}
                        <label for="exercisesList" class="second-title">Select Exercise:</label>

                        <select name="exercises" id="exercisesList">
                            {% for ex in exercises %}
                                <option value="{{ ex.id }}">{{ ex.name }}</option>
                            {% endfor %}
                        </select>

                        <button type="button" id="startExerciseBtn" class="glow-on-hover d-flex-col-cent">Start Selected
                            Exercise
                        </button>

                        <div class="btn-container d-flex gap25">
                            <a href="{% url 'ex-create' workout_pk=workout.pk %}" class="glow-on-hover d-flex-col-cent">Add
                                new exercise</a>
                            <button type="button" id="deleteExerciseBtn" class="red-glow-on-hover danger-btn">
                                Delete Selected Exercise
                            </button>
                        </div>

                        <hr class="hr-line">

                        <section class="exercise-logs">
                            <h2>Conducted Exercises and Sets</h2>
                            {% if exercises %}
                                {% for exercise in exercises %}
                                    <div class="exercise-log">
                                        <h3>{{ exercise.name }} (Muscle Group: {{ exercise.muscle_group.name }})</h3>

                                        {% if exercise.sets.all %}
                                            <ul>
                                                {% for set in exercise.sets.all %}
                                                    <li>Repetitions: {{ set.repetitions }}, Weight: {{ set.weight }}
                                                        kg
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p>No sets recorded yet for this exercise.</p>
                                        {% endif %}

                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No exercises recorded yet.</p>
                            {% endif %}
                        </section>

                        <a href="{% url 'dashboard' pk=user.pk %}" class="glow-on-hover d-flex-col-cent">Finish
                            Workout</a>

                    {% else %}
                        <p class="second-title">You Dont Have Any Exercises.</p>
                        <a href="{% url 'ex-create' workout_pk=workout.pk %}" class="glow-on-hover d-flex-col-cent">Add
                            new exercise</a>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
