{% extends 'base.html' %}
{% load placeholder_filter %}
{% load static %}

{% block content %}

    <div class="background-img d-flex-col-cent">
        <h2 class="wt-start-title">New Workout</h2>
        <div class="container d-flex-col-cent">

            <form method="post" class="wt-type-form d-flex-col-cent blur-background">
                {% csrf_token %}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                <section class="wt-type-section d-flex-col-cent gap25">
                    {% if wt_types %}
                        <label class="second-title" for="workoutType">Select Workout Type:</label>

                        <select name="workout_type" id="workoutType">
                            {% for wt in wt_types %}
                                <option value="{{ wt.id }}">{{ wt.name }}</option>
                            {% endfor %}
                        </select>

                    {% else %}
                        <p class="second-title">You Dont Have Any Types.</p>
                    {% endif %}

                    <div class="btn-container d-flex gap25">
                        <a href="{% url 'wt-type-create' %}" class="glow-on-hover d-flex-col-cent">Add new workout
                            type</a>
                        <button type="button" id="deleteWorkoutTypeBtn" class="red-glow-on-hover danger-btn">
                            Delete Selected Type
                        </button>
                    </div>
                </section>

                <hr class="hr-line">

                <section class="wt-exercises container d-flex-col-cent gap25">
                    <label for="" class="second-title">Exercises:</label>

                    {% if exercises %}
                        <ul>
                            {% for ex in exercises %}
                                <li>{{ ex.name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="second-title">You Dont Have Any Exercises.</p>
                    {% endif %}

                    <a href="{% url 'ex-start' %}" class="glow-on-hover d-flex-col-cent">Start new exercise</a>

                </section>

                <hr class="hr-line">

                <button type="submit" class="glow-on-hover">Finish Workout</button>
            </form>
        </div>
    </div>

{% endblock %}
