{% extends 'base.html' %}
{% load placeholder_filter %}
{% load static %}

{% block content %}

    <div class="background-img">
        <img src="{% static 'images/background_images/background.png' %}" alt="">
    </div>

    <div class="workout-container">

        <div class="title new-workout-title">
            <p>Start New Workout</p>
        </div>

        <div class="form-container d-flex-col-cent">
            {% if all_mg %}

                <p class="second-title">Select Workout Type:</p>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Start Workout</button>
                </form>

            {% else %}
                <p>No exercises yet.</p>

                <button class="glow-on-hover" id="openPopupBtn">Open Popup</button>

                <div id="popupModal" class="modal">
                    <div class="modal-content blur-background">


                        <form class="d-flex-col-cent" method="post" action="{% url 'add-muscle-group' %}">
                            {% csrf_token %}

                            <span class="close-btn">&times;</span>

                            <div class="input-field d-flex-col-cent gap25">
                                <h4 class="label second-title">Enter New Muscle Group:</h4>
                                <span class="value">{{ mg_create_form.name|placeholder:"Enter here" }}</span>
                            </div>

                            <button type="submit" class="glow-on-hover">Create</button>
                        </form>

                    </div>
                </div>

            {% endif %}

        </div>
    </div>

{% endblock %}
