{% extends 'base.html' %}
{% load placeholder_filter %}
{% load static %}

{% block content %}

    <div class="wt-container d-flex-col-cent">
        <section class="wt-type d-flex-col-cent">
            <h2 class="wt-start-title second-title">Start New Workout</h2>

            <form method="post" class="wt-type-form d-flex-col-cent">
                {% csrf_token %}

                {% if wt_types %}
                    <label for="workoutType">Select Workout Type:</label>

                    <select name="workout_type" id="workoutType">
                        {% for wt in wt_types %}
                            <option value="{{ wt.id }}">{{ wt.name }}</option>
                        {% endfor %}
                    </select>

                {% else %}
                    <p>You Dont Have Any Types.</p>

                {% endif %}

                <button type="submit">Start Workout</button>
            </form>

        </section>
    </div>

{% endblock %}
