{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="background-img">
    <img src="{% static 'images/background_images/background4.png' %}" alt="">
</div>

<div class="workout-container">

    <div class="title new-workout-title">
        <p>Start New Workout</p>
    </div>

    <div class="form-container blur-background">

        <!-- Start Workout Form -->
        <form method="post" class="d-flex-col-cent">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <p class="second-title">Select Workout Type:</p>

            {% if workout_types %}
                <div class="workout-type-radio-list">
                    {% for type in workout_types %}
                        <div class="radio-option workout-type-row">

                            <label class="workout-type-element">
                                <input type="radio" name="workout_type" value="{{ type.id }}" required>
                                {{ type.name }}
                            </label>

                            <form method="post" action="{% url 'delete-workout-type' type.pk %}" class="workout-type-del-btn">
                                {% csrf_token %}
                                <button type="submit" class="delete-btn" title="Delete workout type">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </form>

                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No workout types yet. Add one below.</p>
            {% endif %}

            <button type="submit" class="btn glow-on-hover mt-3" name="start_workout">Start Workout</button>
        </form>

        <!-- Link to add new workout type -->
        <div class="d-flex-col-cent mt-4">
            <a class="btn glow-on-hover" href="{% url 'add-workout-type' %}">Add New Type</a>
        </div>

    </div>
</div>

{% endblock %}
