{% extends 'base.html' %}
{% load placeholder_filter %}
{% load static %}

{% block  content %}
    <div class="background-img d-flex-col-cent">
        <div class="container blur-background">
            <form class="wt-type-form d-flex-col-cent gap25" method="post" action="{% url 'wt-type-create' %}">
                {% csrf_token %}

                <div class="input-field">
                    <h4 class="label">Enter Workout Type:</h4>
                    {{ form.name|placeholder:"Enter here" }}
                    <div class="error-field fade-effect">
                        {{ form.name.errors }}
                    </div>
                </div>

                <div class="btn-container d-flex gap15">
                    <button type="submit" class="glow-on-hover">Create</button>
                    <a href="{% url 'wt-create' %}" class="red-glow-on-hover d-flex-col-cent">Back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}