{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex-col-cent background-img">
        <div class="content-stack-grow">
            <h2 class="title">Welcome back, {{ user.profile.username }}!</h2>

            <hr class="hr-line">

            <section class="wt-section">
                <div class="container d-flex-col-cent gap15">
                    {% if workouts %}
                        <h2 class="second-title">Your Recent Workouts:</h2>

                        <ul class="wt-container">
                            {% for workout in workouts %}
                                <li>
                                      <a href="{% url 'wt-details' workout_pk=workout.pk %}" class="blur-background question-li d-flex-sp-between">
                                        <strong>{{ workout.created }}</strong>
                                        <p><strong>Type:</strong> {{ workout.workout_type }}</p>
                                        <strong>{{ workout.muscle_group }}</strong>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                    {% else %}
                        <h2>Ready to train?</h2>
                        <a href="{% url 'wt-create' %}" class="glow-on-hover d-flex-col-cent">Start a New Workout</a>
                    {% endif %}
                </div>
            </section>

            <hr class="hr-line">

            <section class="qu-section">
                <div class="container d-flex-col-cent gap15">
                    {% if user_questions %}
                        <h2 class="title">Your Questions:</h2>
                        <ul class="qu-container">
                            {% for qu in user_questions %}

                                <li>
                                    <a href="{% url 'qu-details' qu.pk %}">
                                        <div class="blur-background question-li d-flex-sp-between">
                                            <p><strong>Title:&nbsp;</strong> {{ qu.title }}, &nbsp;</p>
                                            <p> {{ qu.created }} </p>
                                        </div>
                                    </a>
                                </li>

                            {% endfor %}
                        </ul>
                    {% else %}
                        <h2>Have a question?</h2>
                        <a href="{% url 'qu-create' %}" class="glow-on-hover d-flex-col-cent">Ask the Community</a>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
