{% extends "common/base.html" %}
{% load static %}

{% block content %}
    <div class="fullscreen-background-wrapper">
        <div class="image-overlay"></div>
        <div class="login-container">
            <h1 class="text-center mb-4">Welcome Back!</h1>
            <h3 class="text-center mb-4">Please login to your account</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Email</label>
                    <input type="text" class="form-control" id="id_username" name="username" placeholder="Enter your email" required>
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter your password" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <p class="text-center mt-3">
                    Don't have an account? <a href="{% url 'register-user' %}">Sign Up</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}