{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container-del-page">

        <div class="background-img">
            <img src="{% static 'images/background_images/background.png' %}" alt="">
        </div>

        <div class="text-container blur-background d-flex-col-cent">
            <p class="title" style="color: #d10000">Delete Your Account</p>
            <br>
            <p class="second-title">Are you sure you want to permanently delete your account?</p>
            <br>
            <p>This action is irreversible and will permanently remove all your data, including:</p>

            <ul style="list-style: disc">
                <li>Your profile information</li>
                <br>
                <li>Your saved preferences and settings</li>
                <br>
                <li>Your complete account history</li>
                <br>
                <li>Any content you have created or associated with your account</li>
                <br>
            </ul>
            <p>…will be permanently removed from our system.</p>
            <br>

            <p class="second-title">Before you proceed, we recommend you:</p>

            <div class="todo-field">
                <p>✅ Download or save any important data you wish to keep.</p>
                <br>
                <p>✅ Cancel any active subscriptions (if applicable).</p>
                <br>
                <p>✅ If you have any concerns, please contact our support team.</p>
            </div>

            <br>
            <p class="second-title">Confirm Account Deletion:</p>
            <br>

            <form method="post" class="delete-form" action="{% url 'profile-delete' pk=user.pk %}">
                {% csrf_token %}
                <button class="glow-on-hover transition-btn-ef">Yes, Delete My Account</button>
                <a class="glow-on-hover transition-btn-ef" href="javascript:history.back()">Cancel and Go Back</a>
            </form>

        </div>

    </div>
{% endblock %}
