{% extends 'common/base.html' %}
{% load placeholder_filter %}
{% load static %}

{% block content %}
    <div class="main-container-register">
        <div class="reg-form-gradient-overlay"></div>

        <section class="reg-page-text-container fade-effect">
            <span>The hardest part is showing up. You've already done that.</span>
        </section>

        <section class="register-form-container d-flex-col">

            <h1 class="reg-page-title">Create Your New Account</h1>

            <form method="post" class="register-form d-flex-col">
                {% csrf_token %}

                <div class="input-field ">
                    <h4 class="field-title ">Email:</h4>
                    {{ form.email|placeholder:"Enter your email" }}
                    <div class="error-field fade-effect">
                        {{ form.email.errors }}
                    </div>
                </div>

                <div class="input-field">
                    <h4 class="field-title">Password:</h4>
                    {{ form.password1|placeholder:"Enter your new password" }}
                </div>

                <div class="input-field">
                    <h4 class="field-title">Confirm Password:</h4>
                    {{ form.password2|placeholder:"Enter password again" }}
                    <div class="error-field fade-effect">
                        {{ form.password2.errors }}
                    </div>
                </div>

                <button type="submit" class="submit-btn glow-on-hover">Register</button>

            </form>

            <div class="login-link-container">
                <span>You already have an account? Click <a href="{% url 'login' %}">here</a></span>
            </div>

        </section>

        <section class="reg-page-img-container">
            <img class="fade-effect" src="{% static 'images/background_images/reg-page-image.png' %}"
                 alt="Register Page Image">
        </section>

    </div>
{% endblock %}
