.fullscreen-background-wrapper {
    background-image: url('/static/images/login-img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Make this div take full viewport height */
    width: 100%;
    z-index: -1; /* Place it behind other content */
}

.login-container {
    color: white;
    padding: 40px;
    width: 100%; /* Take full width on small screens */
    max-width: 600px; /* Max width for larger screens */
    position: relative; /* Ensure it stays above the wrapper */
    left: 230px;
    top: 100px;
    z-index: 1; /* Bring it to the front */
}