.main-container-login {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--black);
    overflow: hidden;
}

.login-page-text-container {
    font-family: "Great Vibes", cursive;
    color: #2e58a8;
    position: absolute;
    font-size: 60px;
    top: 200px;
    left: 200px;
    z-index: 5;
}

.login-form-container {
    z-index: 2;
    position: absolute;
    bottom: 200px;
    left: 300px;
    background-color: inherit;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-form-gradient-overlay {
    z-index: 3;
    position: relative;
    top: 80px;
    height: 15%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
}

.login-page-title {
    color: var(--smoke-white);
    margin-bottom: 25px;
    font-size: 30px;
}

.login-page-img-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 88%;
    overflow: hidden;
}

.login-page-img-container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 45%; /* Adjust to control the gradient width */
    background: linear-gradient(to right, rgb(0, 0, 0), transparent);
    z-index: 1;
    pointer-events: none;
}