.main-container-reg {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.reg-form-container {
    z-index: 3;
    position: absolute;
    bottom: 80px;
    left: 300px;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.reg-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.reg-form-gradient-overlay {
    z-index: 3;
    position: relative;
    top: 80px;
    height: 15%;
    width: 100%;
    /*TODO Try background color: transparent */
    background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
    /*background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);*/
}

.reg-page-text-container {
    font-family: "Great Vibes", cursive;
    color: #2e58a8;
    position: absolute;
    font-size: 60px;
    top: 150px;
    left: 100px;
    z-index: 2;
}

.reg-page-title {
    color: var(--smoke-white);
    margin: 30px 0;
    font-size: 30px;
}

.reg-page-img-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 100%;
    overflow: hidden;
}

.reg-page-img-container img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.reg-page-img-container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 55%; /* Adjust to control the gradient width */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
    z-index: 1;
    pointer-events: none;
}
