.background-img img {
    position: absolute;
    top: 50px;
    width: 100%;
}

.profile-card {
    position: absolute;
    top: 120px;
    right: auto;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.1); /* transparent white */
    backdrop-filter: blur(10px); /* blur effect */
    -webkit-backdrop-filter: blur(10px); /* for Safari support */
    border-radius: 15px; /* optional: rounded corners */
    padding: 1.5rem; /* optional: spacing */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* optional: subtle shadow */
}

.profile-details-title {
    font-size: 50px;
}

.profile-image img {
    margin: 10px 0 20px 0;
    width: 300px;
    border: 2px solid var(--primary-blue);
    border-radius: 50%;
}

.profile-info {
    gap: 30px;
    width: 80%;
    margin-top: 60px;
}

.info-field-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid var(--primary-blue);
    width: 100%;
}

.body-info {
    margin: 30px 0;
    gap: 70px;
    width: 80%;
}

.body-info .info-field-item .label {
    padding-bottom: 20px;
}

.profile-actions {
    gap: 30px;
}

.profile-actions a {
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}