.main-container {
    height: 100vh;
    width: 100%;
}

/* Form on the left */
.register-form-container {
    z-index: 1;
    position: absolute;
    background-color: whitesmoke;
    width: 30%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid #c8c8c8;
    box-sizing: border-box;
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

/* Image on the right */
.reg-page-img-container {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.reg-page-img-container img {
    position: relative;
    right: 0;
    width: auto;
    height: auto;
    object-fit: fill;
    object-position: right;
}
