.main-container-register {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #050504;
    overflow: hidden;
}

.reg-form-gradient-overlay {
    z-index: 3;
    position: relative;
    top: 80px;
    height: 15%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
}

.reg-page-text-container {
    font-family: "Great Vibes", cursive;
    color: #2e58a8;
    position: absolute;
    font-size: 60px;
    top: 200px;
    left: 100px;
    z-index: 5;
}

.register-form-container {
    z-index: 1;
    position: absolute;
    bottom: 50px;
    left: 300px;
    background-color: inherit;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.reg-page-title {
    color: var(--smoke-white);
    margin-bottom: 10px;
    font-size: 30px;
}

.field-title {
    margin: 0 0 5px 0;
    color: var(--smoke-white);
}

.reg-page-img-container img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 88%;
}

.submit-btn {
    padding: 5px 20px;
    border: 1px solid var(--primary-blue);
    border-radius: 10px;
    margin: 20px auto;
    width: 50%;
}

