{% load placeholder_filter %}

<div id="popupModal" class="modal">
    <div class="modal-content blur-background">
        <form class="d-flex-col-cent" method="post" action="{% url 'add-muscle-group' %}">
            {% csrf_token %}

            <span class="close-btn">&times;</span>

            <div class="input-field d-flex-col-cent gap25 modal-title">
                <span class="label second-title">Enter New Muscle Group:</span>
                <span class="value">{{ mg_create_form.name|placeholder:"Enter here" }}</span>
            </div>

            <button type="submit" class="glow-on-hover">Create</button>
        </form>
    </div>
</div>