{% load placeholder_filter %}

<div id="wtTypeModal" class="modal">
    <div class="modal-content blur-background">
        <form class="d-flex-col-cent" method="post" action="{% url 'add-wt-type' %}">
            {% csrf_token %}
            <span class="close-btn wt-close-btn">&times;</span>
            <div class="input-field d-flex-col-cent gap25 modal-title">
                <span class="label second-title">Enter New Workout type:</span>
                <span class="value">{{ wt_type_create_form.name|placeholder:"Enter here" }}</span>
            </div>
            <button type="submit" class="glow-on-hover">Create</button>
        </form>
    </div>
</div>