<div id="wtTypeModal" class="modal">
    <div class="blur-background">

        <form class="wt-type-form d-flex-col-cent" method="post" action="#">
            {% csrf_token %}

            <span class="close-btn wt-close-btn">&times;</span>

{#           {{ form.non_field_errors }}#}
{##}
{#            <div>#}
{#                {{ form.workout_type.name }}#}
{#                {{ form.workout_type.errors }}#}
{#                {{ form.workout_type }}#}
{#            </div>#}

            <button type="submit" class="glow-on-hover">Create</button>
        </form>
    </div>
</div>