.footer-container {
    position: absolute;
    z-index: 4;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    color: white;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) 10.71%),
    linear-gradient(90deg, rgb(46, 88, 168), rgb(0, 0, 0) 30.71%);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}