.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 16px;
}

.styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 8px 12px;
    text-align: center;
}

.styled-table th {
    background-color: #444;
    color: white;
}

.styled-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
