.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-2 {
    padding-top: 150px;
}

.container-3 {
    margin: auto;
    border: 2px solid var(--primary-blue);
    border-radius: 5px;
    width: 50%;
}