.wt-container {
    background-image: url("/static/images/background_images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Optional: makes sure it takes full screen height */
}

.wt-start-title {
    position: absolute;
    top: 150px;
    font-family: "Great Vibes", cursive;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    color: var(--primary-blue);
}

.wt-type {
    color: var(--smoke-white);
    gap: 20px;
}

.wt-type-form {
    gap: 50px;
}