

.wt-start-title {
    position: absolute;
    top: 150px;
    font-family: "Great Vibes", cursive;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    color: var(--primary-blue);
}

.wt-type {
    width: 50%;
    color: var(--smoke-white);
    gap: 20px;
}

.wt-type-form {
    width: 100%;
    gap: 15px;
    padding: 35px;
}



select {
    appearance: none; /* Remove default arrow */
    background-color: #1e1e2f;
    color: #ffffff;
    padding: 12px 16px;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    outline: none;
}

select:hover {
    border-color: #5fc7ff;
    box-shadow: 0 4px 10px rgba(95, 199, 255, 0.3);
}

select:focus {
    border-color: #00aaff;
    box-shadow: 0 0 0 3px rgba(0, 170, 255, 0.2);
}
