{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <div class="main-container">
    
        <section class="hero-section">
            <div class="background-img">
                <img src="{% static '/images/background_images/background.png' %}" alt="">
            </div>
        </section>
    
        <section class="about-section">
            <div class="background-img">
                <img src="{% static '/images/background_images/p1.jpeg' %}" alt="">
            </div>
        </section>

    </div>

{% endblock %}
