{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="main-container">
        <section class="hero-section">

            <div class="text-container">
                <span class="title">Transform Your Fitness Journey</span>
                <span class="title">Achieve your Goals with <strong style="color: #2e58a8">Body Forge</strong></span>
                <br>
                <h4>Unlock your full potential with Body Forge, the ultimate platform designed to elevate your fitness
                    experience. Whether you're just starting out or a seasoned athlete, Body Forge provides the tools,
                    insights, and motivation you need to stay on track and reach your goals.</h4>
                <br>
{#                <h4>Track every rep, set, and workout with precision. Visualize your progress over time, identify#}
{#                    strengths and areas for improvement, and tailor your routines to maximize results. With Body Forge,#}
{#                    your fitness journey becomes a personalized roadmap to success</h4>#}
{#                <br>#}
{#                <h4>Join a community of dedicated individuals forging stronger bodies and healthier lifestyles. Your#}
{#                    goals aren’t just dreams — they’re achievable milestones, and Body Forge is here to help you reach#}
{#                    every one of them.</h4>#}
                <br>
                <h2>Start today. Build <strong style="color: #2e58a8">STRENGTH</strong>.
                    Build <strong style="color: #2e58a8">CONFIDENCE</strong>.
                    Build your best <strong style="color: #2e58a8">SELF</strong>.</h2>
            </div>

            <div class="hero-img-container">
                <img src="{% static '/images/background_images/background3.png' %}" alt="Fitness Background">
                <div class="hero-gradient-overlay"></div>
            </div>

            <div class="hero-btn-container">
                <a href="#" class="btn btn-get-started">
                    <button class="glow-on-hover" type="button">Get Started</button>
                </a>
            </div>

        </section>

        <section class="about-section">
            <div class="about-gradient-overlay"></div>

            <div class="about-img-container">
                <img src="{% static '/images/background_images/background9.png' %}" alt="Fitness Background">
            </div>

            <div class=""></div>
        </section>
    </div>
{% endblock %}
