{% load static %}

<section class="navbar-container">

    <div class="logo-container">
        <a href="#">
            <img src="{% static '/images/logo.png' %}" alt="logo">
            <span class="logo-text">Body Forge</span>
        </a>
    </div>

    <div class="menu-container">
        <ul class="menu-items">
            <li><a href="">Forum</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>

        <a href="" class="avatar">
            {% if not user.is_authenticated %}
                <img src="{% static '/images/default-profile-image.jpeg' %}" alt="" id="avatar-img">
            {% else %}
                <ul>
                    <li class="hover-underline"><a href="">Sign in</a></li>
                </ul>
            {% endif %}
        </a>

        <div class="dropdown-menu hidden" id="dropdown-menu">
            <ul>
                <li><a href="" class="dropdown-item">Dashboard</a></li>
                <li><a href="" class="dropdown-item">View Profile</a></li>
                <li>
                    <form action="">
                        {% csrf_token %}
                        <button class="dropdown-item">Login</button>
                    </form>
                </li>
            </ul>

        </div>
    </div>

</section>

<script src="{% static "/javascript/common/dropdown-menu.js" %}"></script>
