{% load static %}

<section class="navbar-container">

    <div class="logo-container">
        <a href="{% url 'home' %}">
            <img src="{% static '/images/logo/logo4.png' %}" alt="logo">
            <span style="color: #2e58a8"><strong>Body Forge</strong></span>
        </a>
    </div>

    <div class="menu-container">

        <ul class="menu-items d-flex">
            <li><a class="glow-on-hover" href="{% url 'qu-list' %}">Forum</a></li>
            <li><a class="glow-on-hover" href="">About</a></li>
            <li><a class="glow-on-hover" href="">Contact</a></li>
        </ul>

        {% if user.is_authenticated %}


            {% if user.is_authenticated and user.profile.profile_picture %}
                <a href="#" class="avatar transition-btn-ef">
                    <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}'s profile picture">
                </a>
            {% else %}
                <a href="#" class="avatar transition-btn-ef">
                    <img src="{% static 'images/profile_images/default-profile-image.jpeg' %}"
                         alt="{{ user.username }}'s profile picture">
                </a>
            {% endif %}

            <div class="dropdown-menu hidden" id="dropdown-menu">
                <ul>
                    <li><a href="{% url 'home' %}" class="dropdown-item">Home</a></li>
                    <li><a href="{% url 'dashboard' pk=user.pk %}" class="dropdown-item">Dashboard</a></li>
                    <li><a href="{% url 'qu-create' %}" class="dropdown-item">Ask Question</a></li>
                    <li><a href="{% url 'profile-details' pk=user.pk %}" class="dropdown-item">View Profile</a></li>
                    <li class="dropdown-item">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>

        {% endif %}
    </div>
</section>