{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'common/fonts.html' %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Body Forge</title>

</head>
<body>

<header>
    {% include 'common/navbar.html' %}
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    {% include 'common/footer.html' %}
</footer>

<script src="{% static 'javascript/index.js' %}" type="module"></script>

</body>
</html>