{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="background-img d-flex-col-cent">
        <div class="qu-container blur-background d-flex-col-cent">
            <h2 class="second-title">{{ question.title }}</h2>
            <p class="qu-content">{{ question.content }}</p>
        </div>


        <form method="post" class="qu-container blur-background d-flex-col-cent">
            {% csrf_token %}
            <div class="qu-content">
                <h4 class="label">Your Answer:</h4>
                {{ form.content }}
            </div>
            <button type="submit" class="glow-on-hover">Submit Your Answer</button>
        </form>

        <a href="{% url 'qu-details' pk=question.pk %}" class="red-glow-on-hover d-flex-col-cent">Back to Question</a>
    </div>
{% endblock %}
