{% extends 'base.html' %}
{% load placeholder_filter %}
{% load static %}

{% block content %}
    <div class="background-img d-flex-col-cent">
        <div class="container blur-background">
            <form class="d-flex-col-cent gap25" method="post" action="{% url 'qu-create' %}">
                {% csrf_token %}

                <div class="input-field">
                    <h4 class="label">What is your question?</h4>
                    {{ form.title|placeholder:"Enter your question title here" }}
                    <div class="error-field fade-effect">
                        {{ form.title.errors }}
                    </div>
                </div>

                <div class="input-field">
                    <h4 class="label">Provide more details:</h4>
                    {{ form.content|placeholder:"Explain your question in more detail" }}
                    <div class="error-field fade-effect">
                        {{ form.content.errors }}
                    </div>
                </div>

                {{ form.non_field_errors }}

                <button type="submit" class="glow-on-hover">Post Your Question</button>
            </form>
        </div>
    </div>
{% endblock %}
