{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="background-img d-flex-col-cent">
        <label class="second-title" for="qu-content">{{ question.title }}</label>
        <div class="qu-container blur-background d-flex-sp-between">
            <p>Question:</p>
            <p class="qu-content" id="qu-content">{{ question.content }}</p>
        </div>

        {% if perms.forum.approve_question and not question.approved %}
            <div class="btn-container">
                <form method="post" action="{% url 'qu-approve' question.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="glow-on-hover">Approve Question</button>
                </form>

                <form method="post" action="{% url 'qu-delete' question.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="red-glow-on-hover">Delete Question</button>
                </form>
            </div>
        {% endif %}

        {% for answer in answers %}
            <div class="qu-container blur-background d-flex-sp-between">
                <label class="second-title" for="qu-content">Answered by: {{ answer.user.profile.username }}</label>
                <p class="qu-content" id="qu-content">{{ answer.content }}</p>
            </div>
            <p style="color: var(--smoke-white)">{{ answer.created }}</p>
        {% empty %}
            <p>No answers yet. Be the first to share your knowledge!</p>
        {% endfor %}

        <div class="btn-container d-flex gap25">
            {% if user.is_authenticated and user != question.user %}
                <a class="glow-on-hover d-flex-col-cent" href="{% url 'an-create' question_pk=question.pk %}">Post Your Answer</a>
            {% endif %}
            <a href="{% url 'qu-list' %}" class="red-glow-on-hover d-flex-col-cent">Back to Forum</a>
        </div>
    </div>


{% endblock %}
