{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="background-img d-flex-col-cent">
        <div class="qu-container blur-background d-flex-col-cent">

            <p><strong>Asked by:</strong> {{ question.user.profile.username }}</p>
            <p><strong>Created:</strong> {{ question.created }}</p>

            <label for="qu-content">{{ question.title }}</label>
            <p class="qu-content" id="qu-content">{{ question.content }}</p>

        </div>

        <div class="btn-container d-flex gap25">
            {% if perms.forum.approve_question and not question.approved %}
                <a class="glow-on-hover d-flex-col-cent"
                   onclick="event.preventDefault(); document.getElementById('approve-form').submit()">Approve Question
                </a>

                <form id="delete-form" method="post" action="{% url 'qu-delete' question.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="red-glow-on-hover">Delete Question</button>
                </form>

                <form id="approve-form" style="display: none;" method="post"
                      action="{% url 'qu-approve' question.pk %}">
                    {% csrf_token %}
                </form>
            {% endif %}
        </div>
        <a href="javascript:history.back()" class="red-glow-on-hover d-flex-col-cent">Back</a>
    </div>
{% endblock %}
