{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="background-img d-flex-col-cent">
        <div class="content-stack-grow">
            <ul class="qu-container">
                {% for qu in all_questions %}

                    <li>
                        <a href="{% url 'qu-details' qu.pk %}">
                            <div class="blur-background question-li">
                                <p><strong>Question by:</strong> {{ qu.user.profile.username }}</p>
                                <p><strong>Title:</strong> {{ qu.title }}</p>
                                <p><strong>Posted on:</strong> {{ qu.created }}</p>

                                {% if perms.forum.approve_question %}
                                    {% if qu.approved %}
                                        <p style="color: green;">Status: Approved</p>
                                    {% else %}
                                        <p style="color: red;">Status: Pending Approval</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </a>
                    </li>

                {% empty %}
                    <h2>The forum is quiet right now.</h2>
                    <p>Be the first to ask a question and get the conversation started!</p>
                    <a href="{% url 'qu-create' %}" class="glow-on-hover d-flex-col-cent">Ask a Question</a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
